@model IEnumerable<CaffeineBookatableProject.Models.Customer>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("LogIn", "Customers"))
{
    @Html.AntiForgeryToken()
    
        <form>
            <center>
                <h4>Sign In</h4>
            </center>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Customer_Email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="Customer_Password">
    </div>

    <button type="submit" class="btn btn-danger" value="Log In">Log In</button>
    <div>
        @Html.ActionLink("if you are not a user Signup ", "Signup")
    </div>
    </form>

}