@*@model CaffeineBookatableProject.Models.Customer
    @{

        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        @using (Html.BeginForm("SignUp", "Customers"))
        {
            @Html.AntiForgeryToken()
        <div class="container">
            <h1>Sign Up</h1>
            <form action="/signup" method="post">
                <div class="mb-3">
                    <label for="customer_firstname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="Customer_FirstName" name="customer_firstname">
                </div>
                <div class="mb-3">
                    <label for="customer_lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="Customer_LastName" name="customer_lastname">
                </div>
                <div class="mb-3">
                    <label for="customer_email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="Customer_Email" name="customer_email">
                </div>
                <div class="mb-3">
                    <label for="customer_password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="Customer_Password" name="customer_password">
                </div>
                <div class="mb-3">
                    <label for="customer_contact" class="form-label">Contact</label>
                    <input type="text" class="form-control" id="Customer_Contact" name="customer_contact">
                </div>
                <div class="mb-3">
                    <label for="customer_address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="Customer_Address" name="customer_address">
                </div>
                <button type="submit" class="btn btn-danger" value="Signup">Sign Up</button>
            </form>
        </div>
        }
    </body>
    </html>*@
@model IEnumerable<CaffeineBookatableProject.Models.Customer>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@{

    Layout = null;
}*@
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <title>Winter Login Form a Simple Login form Responsive Widget :: w3layouts</title>
    <meta name="keywords" content="Winter Login Form Responsive widget, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- stylesheets -->
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/style.css">
    <!-- google fonts  -->
    <link href="~/fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="~/fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>
<body>
    @using (Html.BeginForm("SignUp", "Customers"))
    {
        @Html.AntiForgeryToken()
        <div class="agile-login">

            <div class="wrapper">
                <h2>Sign In</h2>
                <div class="w3ls-form">
                    <form action="/" method="post">
                        <label>Firstname</label>
                        <input type="text" name="Customer_FirstName" placeholder="Firstname" required />
                        <label>Lastname</label>
                        <input type="text" name="Customer_LastName" placeholder="Lastname" required />
                        <label>Email</label>
                        <input type="text" name="Customer_Email" placeholder="Email" required />
                        <label>Password</label>
                        <input type="text" name="Customer_Password" placeholder="Password" required />
                        <label>Contact</label>
                        <input type="text" name="Customer_Contact" placeholder="Contact" required />
                        <label>Address</label>
                        <input type="text" name="Customer_Address" placeholder="Address" required />
                        <a href="@Url.Action("LogIn","Customers")" class="pass">Already have Account ?</a>
                        <input type="submit" value="Sign Up" />
                    </form>
                </div>

                @*<div class="agile-icons">
                        <a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-pinterest-p"></span></a>
                    </div>*@
            </div>
            <br>
            <div class="copyright">
                <p>© 2023 Cafe Brew Login. All rights reserved | Design by <a href="www.w3layouts.com">Cafe Brew Project</a></p>
            </div>
        </div>
    }
</body>
</html>
