@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<CaffeineBookatableProject.Models.Customer>



@using (Html.BeginForm("LogIn", "Admins"))
{
    @Html.AntiForgeryToken()
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <center><h4>Admin Login</h4></center>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Admin_Email">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="Admin_Password">
                        </div>

                        <button type="submit" class="btn btn-danger btn-block">Log In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
