@model IEnumerable<CaffeineBookatableProject.Models.Carrer>

@{
    ViewBag.Title = "Job Openings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inner_page_head">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="page_title">Job Openings</h3>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Designation</th>
                        <th>Qualification</th>
                        <th>Description</th>
                        <th>Send Resume</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.carrer_designation)</td>
                            <td>@Html.DisplayFor(modelItem => item.carrer_qualfication)</td>
                            <td>@Html.DisplayFor(modelItem => item.career_description)</td>
                            <td>
                                <a href="mailto:cafebrewindia@gmail.com" class="btn btn-danger py-2 px-3">Apply Now</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
